{% extends 'base copy.html' %}
{% block content %}

<div class="container">
    <h2>All Produk</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama Produk</th>
                <th>Harga Produk</th>
                <th>Harga Diskon</th>
                <th>img url</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in df %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.prodname}}</td>
                <td>{{item.prodprice}}</td>
                <td>{{item.prodpricedisc}}</td>
                <td>{{item.imgurl}}</td>
                <th><a href="{{url_for('delprod',id=item.id)}}">delete</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>

<div class="container">
    <h2>on cart</h2>
    <table class="table">
        <thead>
            <tr>
                <th>user</th>
                <th>produk id</th>
                <th>qty</th>
            </tr>
        </thead>
        <tbody>
            {% for i in df2 %}
            <tr>
                <td>{{i.username}}</td>
                <td>{{i.itemid}}</td>
                <td>{{i.itemqty}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
